
h3.h3 {
  text-align: center;
  margin: 1em;
  text-transform: capitalize;
  font-size: 1.7em;
}

/********************* shopping Demo-1 **********************/
.product-grid {
  font-family: Raleway, sans-serif;
  text-align: center;
  padding: 0 0 72px;
  border: 1px solid rgba(0, 0, 0, .1);
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}

.product-grid .product-image {
  position: relative;
  transition: all .3s ease 0s
}

.product-grid .product-image a {
  display: block
}

.product-grid .product-image img {
  width: 100%;
  height: auto
}

.product-grid .pic-1 {
  opacity: 1;
  transition: all .3s ease-out 0s
}

.product-grid:hover .pic-1 {
  opacity: 1
}

.product-grid .pic-2 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s ease-out 0s
}

.product-grid:hover .pic-2 {
  opacity: 1
}

.product-grid .float-menu {
  left: 50%;
  list-style: none;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 60%;
  transform: translateY(-50%) translateX(-50%);
  transition: all .3s ease 0s;
  width: 150px;
  z-index: 1;
}

.product-grid:hover .float-menu {
  opacity: 1;
  top: 50%
}

.product-grid .float-menu li {
  display: inline-block
}

.product-grid .float-menu li a {
  background-color: #333;
  color: #fff;
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  margin: 0 2px;
  position: relative;
  text-align: center;
  transition: all .3s ease-in-out;
  width: 40px;
}

.product-grid .float-menu li a:hover {
  background-color: #ccc;
  color: #fff;
}

.product-grid .float-menu li a:after, .product-grid .float-menu li a:before {
  background-color: #000;
  color: #fff;
  content: attr(data-tip);
  font-size: 12px;
  left: 50%;
  letter-spacing: 1px;
  line-height: 20px;
  opacity: 0;
  padding: 1px 5px;
  position: absolute;
  top: -30px;
  transform: translateX(-50%);
  white-space: nowrap;
}

.product-grid .float-menu li a:after {
  border-radius: 0;
  content: '';
  height: 15px;
  top: -20px;
  transform: translateX(-50%) rotate(45deg);
  width: 15px;
  z-index: -1
}

.product-grid .float-menu li a:hover:after, .product-grid .float-menu li a:hover:before {
  opacity: 1
}

.product-grid .product-promo-label {
  left: 10px;
}

.product-grid .product-discount-label {
  right: 10px;
}

.product-grid .product-discount-label, .product-grid .product-promo-label {
  color: #fff;
  font-weight: bolder;
  background-color: #ea0606;
  font-size: 12px;
  text-transform: uppercase;
  padding: 2px 7px;
  display: block;
  position: absolute;
  top: 10px;
  border-radius: 10px;
}

.product-promo-label-modal, .product-discount-label-modal {
  color: #fff;
  font-weight: bolder;
  font-size: 12px;
  text-transform: uppercase;
  padding: 2px 7px;
  border-radius: 10px;
}

.product-promo-label-modal {
  background-color: #ea0606;
  margin-right: 10px;
}

.product-discount-label-modal {
  background-color: #333;
}


.product-grid .product-discount-label {
  background-color: #333;
}

.product-grid .rating {
  color: #FFD200;
  font-size: 12px;
  padding: 10px 0 0;
  list-style: none;
  position: relative;
  z-index: -1
}

.rating {
  color: #FFD200;
  font-size: 12px;
  padding: 10px 0 0;
  list-style: none;
  position: relative;
}

.reviews, .questions, .ratings {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}

.ratings ul {
  margin-bottom: 0;
  padding: 0;
}

.product-grid .rating li.disable {
  color: rgba(0, 0, 0, .2)
}

.product-grid .rating li, .rating li {
  display: inline-block;
}

.product-grid .product-content {
  background-color: #fff;
  text-align: center;
  padding: 12px 0;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -55px;
  z-index: 1;
  transition: all .3s
}

.product-grid:hover .product-content {
  bottom: -12px;
}

.product-grid .title {
  font-size: 13px;
  font-weight: 400;
  padding: 0 5px 0 5px;
  letter-spacing: 1px;
  margin: 0 0 10px;
  transition: all .3s ease 0s
}

.product-grid .title a {
  color: #828282;
  text-decoration: none;
}

.product-grid .title a:hover, .product-grid:hover .title a {
  color: #ea0606;
}

.product-grid .price {
  color: #333;
  font-size: 17px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 8px;
  text-align: center;
  transition: all .3s
}

.product-grid .price span {
  color: #999;
  font-size: 13px;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 10px;
  display: inline-block
}

.modal-price .current-price {
  font-size: 2rem;
  color: #F91155;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 8px;
  text-align: center;
  transition: all .3s;
  display: inline-block;
  padding-right: 10px;
}

.modal-price .discount-price {
  font-size: 1.5rem;
  color: #999;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 10px;
  display: inline-block;
  padding-right: 10px;
}

.post-info {
  color: #999999;
  margin-bottom: 10px;
}

.post-info span {
  color: #333333;
}

.product-modal-label {
  margin-bottom: 5px;
}

.product-grid .add-to-cart {
  color: #fff;
  background-color: #404040;
  font-size: 15px;
  text-decoration: none;
  padding: 10px 0;
  display: block;
  transition: all .3s;
}

.beige {
  background-color: beige;
}
